<div>
  <!-- ======= Mobile nav toggle button ======= -->
  <i class="fa fa-bars mobile-nav-toggle d-lg-none"></i>
  <!-- ======= Header ======= -->
  <header id="header" class="d-flex flex-column justify-content-center">

    <nav id="navbar" class="navbar nav-menu">
      <ul>
        <li><a href="#hero" class="nav-link scrollto active"><i class="custom-ml-3 fa fa-regular fa-user"></i><span>Home</span></a></li>
        <li><a href="#about" class="nav-link scrollto"><i class="fa fa-address-card"></i> <span>About</span></a></li>
        <li><a href="#resume" class="nav-link scrollto"><i class="fa fa-file"></i> <span>Resume</span></a></li>
        <li><a href="#portfolio" class="nav-link scrollto"><i class="fa fa-code"></i> <span>projects</span></a></li>
        <li><a href="#services" class="nav-link scrollto"><i class="fa fa-list"></i> <span>Services</span></a></li>
        <li><a href="#contact" class="nav-link scrollto"><i class="custom-ml-3 fa fa-id-badge"></i> <span>Contact</span></a></li>
      </ul>
    </nav><!-- .nav-menu -->

  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center">
    <div class="container">
      <div class="d-flex flex-md-row flex-column align-items-center justify-content-between">
        <div>
          <h1 class="text-primary">Moavia Hassan</h1>
          <p><span class="typed" data-typed-items="Ruby on Rails Developer, with over 1+ years of development experience"></span></p>
          <div class="social-links">
            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
            <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
            <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
          </div>
        </div>
        <div class="avatar">
          <%= image_tag("profile_image.jpg")%>
        </div>
      </div>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" >

        <div class="section-title">
          <h2>About</h2>
          <p >with nearly one year of professional experience in developing web applications using the power of Ruby on Rails along with front-end
          technologies such as HTML, CSS, and JavaScript, I consistently strive for excellence in every project I undertake. Throughout my career, I
          have successfully delivered numerous features across many projects, consistently met tight development schedules while maintaining high
          code quality standards</p>
        </div>

        <div class="row">
          <div class="col-lg-8 pt-4 pt-lg-0 content ">
            <h3>Ruby on Rails Developer</h3>
            <p class="fst-italic">
              I am passionate about building excellent Web Apps that improves the lives around me. I have deep interest in web technologies, always eager to learn new technologies.
            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="fa fa-solid fa-hashtag"></i><strong>Website:</strong> <span>www.moavia-00.com</span></li>
                  <li><i class="fa fa-solid fa-hashtag"></i> <strong>Phone:</strong> <span>+92 308 710 1626</span></li>
                  <li><i class="fa fa-solid fa-hashtag"></i><strong>City:</strong> <span>Faisalabad, Punjab, PK</span></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="fa fa-solid fa-hashtag"></i><strong>Age:</strong> <span>25</span></li>
                  <li><i class="fa fa-solid fa-hashtag"></i><strong>Degree:</strong> <span>BSCS</span></li>
                  <li><i class="fa fa-solid fa-hashtag"></i><strong>Email:</strong> <span>moaviahassan7i8@gmail.com</span></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Facts Section ======= -->
    <section id="facts" class="facts">
      <div class="container" >

        <div class="section-title">
          <h2>Facts</h2>
          <p>I have worked on a total of 9+ porject ranging from small scale to large scale. Throughout my career, I
          have successfully delivered numerous features across many projects, consistently met tight development schedules while maintaining high
          code quality standards</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="count-box">
              <i class="fa fa-fire"></i>
              <span data-purecounter-start="0" data-purecounter-end="7" data-purecounter-duration="2" class="purecounter"></span>
              <p>Happy Clients</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
            <div class="count-box">
              <i class="fa fa-code"></i>
              <span data-purecounter-start="0" data-purecounter-end="9" data-purecounter-duration="2" class="purecounter"></span>
              <p>Projects</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
             <i class="fa fa-check"></i>
              <span data-purecounter-start="0" data-purecounter-end="463" data-purecounter-duration="2" class="purecounter"></span>
              <p>Hours Of Support</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
            <div class="count-box">
              <i class="fa fa-address-card"></i>
              <span data-purecounter-start="0" data-purecounter-end="8" data-purecounter-duration="2" class="purecounter"></span>
              <p>Centificates</p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Facts Section -->

    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Skills</h2>
          <p>With over 1+ years of experience in development, I worked on Rails MVC frameworkd and honed my development skills.</p>
        </div>

        <div class="row skills-content">

          <div class="col-lg-6">

            <div class="progress">
              <span class="skill">HTML, CSS, SCSS, Tailwind CSS, Bootstrap 5 <i class="val">70%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Version Control: Git, Github, Gitlab.<i class="val">100%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">AWS, Heroku<i class="val">60%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

          <div class="col-lg-6">

            <div class="progress">
              <span class="skill">Ruby on Rails, MVC, Turbo, Restful services, APIs, Sidekiq, RSpec and MiniTest<i class="val">100%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">MySQL, PostgrSQL<i class="val">100%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Skills Section -->

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container">

        <div class="section-title">
          <h2>Resume</h2>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <h3 class="resume-title">Sumary</h3>
            <div class="resume-item pb-0">
              <h4>Moavia Hassan</h4>
              <p><em>with nearly one year of professional experience in developing web applications using the power of Ruby on Rails along with front-end
                technologies such as HTML, CSS, and JavaScript, I consistently strive for excellence in every project I undertake</em></p>
              <ul>
                <li>Faisalabad, Punjab, PK</li>
                <li>(308) 710-1626</li>
                <li>moaviahassan7i8@gmail.com</li>
              </ul>
            </div>

            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>Bachelors of Science in Computer Sciencen</h4>
              <h5>2018 - 202</h5>
              <p><em>FAST Nationl University of Computer and Emerging Sciences</em></p>
              <p>Qui deserunt veniam. Et sed aliquam labore tempore sed quisquam iusto autem sit. Ea vero voluptatum qui ut dignissimos deleniti nerada porti sand markend</p>
            </div>
            <div class="resume-item">
              <h4>Intermediate in Computer Science</h4>
              <h5>2016 - 2018</h5>
              <p><em>The Summit College, Faisalabad, PK</em></p>
              <p>I have developed a solid foundation in programming concepts, data manipulation, problem-solving techniques, and an understanding of computer systems, setting the stage for further exploration and specialization in the field of technology.</p>
            </div>

            <h3 class="resume-title">Projects</h3>
            <div class="resume-item">
              <h4>AWEXR</h4>
              <h5>September 2022 - Present</h5>
              <p><em>https://awexr.com</em></p>
              <ul>
                <li>Created user-friendly Ticket pages, resulting in 50% increase in sales</li>
                <li>Enhanced the admin panel by incorporating dynamic content and design functionalities, empowering site administrators to change 90% of
                  content easily and efficiently from admin panel.</li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>PlanetSpark</h4>
              <h5>May 2023 - Present</h5>
              <p><em>https://www.planetspark.in</em></p>
              <ul>
                <li>Implemented optimized queries to efficiently filter and identify top and active freelance teachers for booking demos with students</li>
                <li>Worked on a module that integrated with the Exotel API to facilitate seamless calls between teachers and customers. This involved handling
                  API requests, managing call connections, resulting in 50% increase in demo bookings between freelance teachers and students</li>
                <li>Played a key role in resolving bugs and enhancing the user interface.</li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>Aurora</h4>
              <h5>December 2022 - Present</h5>
              <p><em>https://www.aurora.enterprises</em></p>
              <ul>
                <li>Collaborated closely with the team to enhance existing functionalities and adapt them to meet new requirements</li>
                <li>Developed a QR code scanner module with customization of the logo displayed at the center of scanned QR codes, resulted in a remarkable
                25% increase in site traffic, captivating users with visually appealing scanning experiences</li>
              </ul>
            </div>
            
          </div>
          <div class="col-lg-6">
            <h3 class="resume-title">Professional Experience</h3>
            <div class="resume-item">
              <h4>Ruby on Rails Developer @ TechCoLogic</h4>
              <h5>2022 - Present</h5>
              <p><em>Faisalabad, Punjab, Pakistan </em></p>
              <ul>
                <li>Contributed to 3 major projects: AWEXR, PlanetSpark, Aurora Enterprises.</li>
                <li>Boosted app performance by 4campaignsX through optimizing queries and enhanced Google Lighthouse scores by
                  more than 80%</li>
                <li>Configured asynchronous architecture using Sidekiq and DelayedJob, resulting in a 50% reduction in response time and improved scalability
                  by allowing 20+ workers to process jobs simultaneously</li>
                <li>Developed APIs connecting application modules to third party services like hubspot, swoogo, Sendgrid, Exotel, reducing development time
                  by 50%.</li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Porjects</h2>
          <p>Throughout my career, I
            have successfully delivered numerous features across many projects, consistently met tight development schedules while maintaining high
            code quality standards</p>
        </div>

        <div class="row">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-techcologic">@TechCoLogic</li>
              <li data-filter=".filter-upwork">@Upwork</li>
              <li data-filter=".filter-bscs">BSCS Samester Projects</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container">

          <div class="col-lg-4 col-md-6 portfolio-item filter-bscs">
            <div class="portfolio-wrap">
              <%= image_tag("fyp.png", class: "img-fluid")%>
              <div class="portfolio-info">
                <h4>Expert Academia Portal</h4>
                <div class="portfolio-links">
                  <a href="https://github.com/Moavia-00/Expert-Academia-Portal" target="_blank" title="Expert Academia Portal"><i class="fa fa-github"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-techcologic">
            <div class="portfolio-wrap">
              <%= image_tag("planetsparks.png", class: "img-fluid")%>
              <div class="portfolio-info">
                <h4>PlanetSpark</h4>
                <div class="portfolio-links">
                  <a href="https://www.planetspark.in" class="portfolio-details-lightbox" data-glightbox="type: external" title="PlanetSpark"><i class="fa fa-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-bscs">
            <div class="portfolio-wrap">
              <%= image_tag("patientdoctor.png", class: "img-fluid")%>
              <div class="portfolio-info">
                <h4>Patient Doctor Appointment System</h4>
                <div class="portfolio-links">
                  <a href="https://github.com/Moavia-00/Patient-Doctor-Appointment-System" target="_blank" title="Patient Doctor Appointment System"><i class="fa fa-github"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-techcologic">
            <div class="portfolio-wrap">
              <%= image_tag("awexr.png", class: "img-fluid")%>
              <div class="portfolio-info">
                <h4>AWEXR</h4>
                <div class="portfolio-links">
                  <a href="https://awexr.com" class="portfolio-details-lightbox" data-glightbox="type: external" title="AWEXR"><i class="fa fa-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-bscs">
            <div class="portfolio-wrap">
              <%= image_tag("datastructure.png", class: "img-fluid")%>
              <div class="portfolio-info">
                <h4>Data Structure Visualizer</h4>
                <div class="portfolio-links">
                  <a href="https://github.com/Moavia-00/Data-Structure-Visulizer" target="_blank"  title="Data Structure Visualizer"><i class="fa fa-github"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-techcologic">
            <div class="portfolio-wrap">
              <%= image_tag("aurora.png", class: "img-fluid")%>
              <div class="portfolio-info">
                <h4>Aurora Exterprises</h4>
                <div class="portfolio-links">
                  <a href="https://www.aurora.enterprises/" class="portfolio-details-lightbox" data-glightbox="type: external" title="Aurora Exterprises"><i class="fa fa-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-techcologic">
            <div class="portfolio-wrap">
              <%= image_tag("magnetworks.png", class: "img-fluid")%>
              <div class="portfolio-info">
                <h4>MagnetWorks</h4>
                <div class="portfolio-links">
                  <a href="https://www.magnetworks.co/" class="portfolio-details-lightbox" data-glightbox="type: external" title="MagnetWorks"><i class="fa fa-link"></i></a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-upwork">
            <div class="portfolio-wrap">
              <%= image_tag("upwork.png", class: "img-fluid")%>
              <div class="portfolio-info">
                <h4>DocsCloud</h4>
                <div class="portfolio-links">
                  <a href="https://github.com/moholtzberg/rails_acb" target="_blank"  title="DocsCloud"><i class="fa fa-github"></i></a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title">
          <h2>Services</h2>
          <p>As a Ruby on Rails developer, I offer expertise in building scalable web applications, utilizing the Rails framework to develop efficient and maintainable code, while leveraging the power of Ruby's elegant syntax to deliver robust and feature-rich software solutions. You can send me a message or connect through upwork profile <a href="https://www.upwork.com/freelancers/~018b06a10a8a086bc5" target="_blank"><i class="fa fa-link"></i></a></p>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="icon-box iconbox-blue">
              <div class="icon">
                <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                  <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,521.0016835830174C376.1290562159157,517.8887921683347,466.0731472004068,529.7835943286574,510.70327084640275,468.03025145048787C554.3714126377745,407.6079735673963,508.03601936045806,328.9844924480964,491.2728898941984,256.3432110539036C474.5976632858925,184.082847569629,479.9380746630129,96.60480741107993,416.23090153303,58.64404602377083C348.86323505073057,18.502131276798302,261.93793281208167,40.57373210992963,193.5410806939664,78.93577620505333C130.42746243093433,114.334589627462,98.30271207620316,179.96522072025542,76.75703585869454,249.04625023123273C51.97151888228291,328.5150500222984,13.704378332031375,421.85034740162234,66.52175969318436,486.19268352777647C119.04800174914682,550.1803526380478,217.28368757567262,524.383925680826,300,521.0016835830174"></path>
                </svg>
                <i class="fa fa-code"></i>
              </div>
              <h4><a href="">Back-end, Ruby on Rails, MVC</a></h4>
              <p>I specialize in utilizing the power of Ruby on Rails to build custom web applications tailored to your specific needs, leveraging the framework's capabilities to deliver efficient, secure, and scalable solutions that drive your business forward</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="icon-box iconbox-orange ">
              <div class="icon">
                <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                  <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,582.0697525312426C382.5290701553225,586.8405444964366,449.9789794690241,525.3245884688669,502.5850820975895,461.55621195738473C556.606425686781,396.0723002908107,615.8543463187945,314.28637112970534,586.6730223649479,234.56875336149918C558.9533121215079,158.8439757836574,454.9685369536778,164.00468322053177,381.49747125262974,130.76875717737553C312.15926192815925,99.40240125094834,248.97055460311594,18.661163978235184,179.8680185752513,50.54337015887873C110.5421016452524,82.52863877960104,119.82277516462835,180.83849132639028,109.12597500060166,256.43424936330496C100.08760227029461,320.3096726198365,92.17705696193138,384.0621239912766,124.79988738764834,439.7174275375508C164.83382741302287,508.01625554203684,220.96474134820875,577.5009287672846,300,582.0697525312426"></path>
                </svg>
                <i class="fa fa-css3"></i>
              </div>
              <h4><a href="">Front-End Development</a></h4>
              <p> I bring expertise in creating engaging and responsive user interfaces by leveraging the latest front-end technologies such as HTML, CSS, and JavaScript. I can build visually appealing and interactive web applications that provide a seamless user experience across different devices and platforms</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" >
            <div class="icon-box iconbox-pink">
              <div class="icon">
                <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                  <path stroke="none" stroke-width="0" fill="#f5f5f5" d="M300,541.5067337569781C382.14930387511276,545.0595476570109,479.8736841581634,548.3450877840088,526.4010558755058,480.5488172755941C571.5218469581645,414.80211281144784,517.5187510058486,332.0715597781072,496.52539010469104,255.14436215662573C477.37192572678356,184.95920475031193,473.57363656557914,105.61284051026155,413.0603344069578,65.22779650032875C343.27470386102294,18.654635553484475,251.2091493199835,5.337323636656869,175.0934190732945,40.62881213300186C97.87086631185822,76.43348514350839,51.98124368387456,156.15599469081315,36.44837278890362,239.84606092416172C21.716077023791087,319.22268207091537,43.775223500013084,401.1760424656574,96.891909868211,461.97329694683043C147.22146801428983,519.5804099606455,223.5754009179313,538.201503339737,300,541.5067337569781"></path>
                </svg>
                <i class="fa fa-fire"></i>
              </div>
              <h4><a href="">Full-Stack Web App</a></h4>
              <p>offer end-to-end web application development services. From designing and implementing a robust backend with Ruby on Rails, to creating dynamic and interactive user interfaces using React.js</p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Contact</h2>
        </div>

        <div class="row mt-1">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
               <i class="fa fa-solid fa-location-arrow"></i>
                <h4>Location:</h4>
                <p>Faisalabad, Punjab, Pakistan</p>
              </div>

              <div class="email">
                <i class="fa fa-envelope"></i>
                <h4>Email:</h4>
                <p>moaviahassan7i8@gmail.com</p>
              </div>

              <div class="phone">
                <i class="fa fa-phone"></i>
                <h4>Call:</h4>
                <p>+92 308 710 1626</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" required>
                </div>
                <div class="col-md-6 form-group mt-3 mt-md-0">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                </div>
              </div>
              <div class="form-group mt-3">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
              </div>
              <div class="form-group mt-3">
                <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <h3>Moavia Hassan</h3>
      <p>Here's my other professional profile link, feel free to contact me through any platform, Thanks</p>
      <div class="social-links">
        <a href="https://www.facebook.com/moavia.hassan.589" target="_blank" class="facebook"><i class="fa fa-facebook"></i></a>
        <a href="https://www.instagram.com/_moavia00/" target="_blank" class="instagram"><i class="fa fa-instagram"></i></a>
        <a href="https://www.linkedin.com/in/moavia-hassan-2750211a1/" target="_blank" class="linkedin"><i class="fa fa-linkedin"></i></a>
        <a href="https://github.com/Moavia-00" target="_blank" class="github"><i class="fa fa-github"></i></a>
      </div>
      <div class="copyright">
        &copy; Copyright <strong><span>Moavia's Resume</span></strong>. All Rights Reserved
      </div>
    </div>
  </footer><!-- End Footer -->
  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="fa fa-arrow-up"></i></a>

</div>